#title {
    text-align: center;
    font-size: 3rem;
}

.articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleCard {
    max-width: 50vw;
    cursor: pointer;
}

.articleImg {
    width: 100%;
}

.voteCommentBar {
    display: flex;
    justify-content: space-around;
}

.voteBox {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.focusedArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
}

.focusedArticle h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3rem;
}

.focusedArticle img {
    width: 70%;
    min-width: 360px;
}

.focusedArticle span {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1rem;
}

.focusedArticle p {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.commentList {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 60vw;
}

.commentCard p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .articleCard {
        max-width: 90vw;
    }

    .focusedArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
    }

    .focusedArticle img {
        width: 100%;
    }

    .commentList {
        max-width: 90vw;
    }
}