html {
    background-color: #202324;
}

#title {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
}

#title-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #465062;
}

p {
    color: white;
}

#title span {
    color: #EF233C;
}

.articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleCard {
    max-width: 40vw;
    width: 40vw;
    margin-bottom: 1rem;
    background-color: #465062;
}

.cardContent {
    padding-bottom: 0px;
}

.articleImg {
    width: 100%;
}

.color {
    color: #e4dbe940
}

.select {
    color: #aba499;
}

.cardText {
    color: white;
    margin-bottom: 5px;
}

.cardHeader {
    color: white;
    font-weight: bold;
    font-size:x-large;
    margin-bottom: 5px;
}

.voteCommentBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentButton {
    background-color: #2B2D42;
}

.commentButton:hover {
    background-color: #a1a1a1;
    color: black;
}

.commentButton:disabled {
    background-color: #2B2D42;
    color: #6d6d6d;
}

.voteCounter {
    display: flex;
    align-items: center;
    background-color: #2B2D42;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.voteBox {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 2rem;
    font-size: 1rem;
    color: white;
}

.deselected {
    padding: 0;
    font-size: 1rem;
    color: white;
}

.upvoted {
    background-color: rgba(79, 255, 79, 0.5);
    font-size: 1rem;
    padding: 0;
    color: white;
}

.downvoted {
    background-color: rgba(250, 104, 104, 0.5);
    font-size: 1rem;
    padding: 0;
    color: white;
}

.focusedArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 50vw;
}

.articleTitle {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3rem;
    color: white;
}

.focusedArticleImg {
    width: 70%;
    min-width: 360px;
}

.imageSkeleton {
    width: 70%;
    min-width: 360px;
    height: 32vw;
}

.createdInfo {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1rem;
    color: white;
}

.articleBody {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    color: white;
}

.commentInput div textarea{
    color: white;
}

.commentInput div {
    padding-bottom: 2rem;
    background-color:#465062;
}

.commentInput fieldset {
    border-color: #2B2D42;
}

.commentList {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50vw;
}

#comments h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
}

.commentCard {
    border-width: 1px;
    border-style: solid;
    border-color:#2B2D42;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #465062;
}

.commentCard span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.commentCard span button {
    margin-left: 1rem;
    color:white;
    background-color: #2B2D42;
    height: 1.3em;
    width: 1.3em
}

.commentCard p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.commentPoster {
    display: flex;
    margin-top: 2rem;
    width: 40vw;
}

.commentCharLimit {
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    margin: 5px; 
    line-height: 1rem
}

.clickable {
    cursor: pointer;
}

.alert {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.queryBar {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-bottom: 1rem;
}

.buttonColor {
    background-color: #2B2D42;
}

#formTitle {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

.formInput div input{
    color: white;
}

.formInput label {
    color: white;
}

.formInput div {
    background-color: #202324;
}

.formInput fieldset {
    border-color: #2B2D42;
}

.multilineInput {
    flex: 1;
    flex-direction: column;
}

.multilineInput label {
    color: white;
}

.multilineInput div {
    flex: 1;
    flex-direction: column;
    background-color: #202324;
}

.multilineInput textarea {
    flex: 1;
    flex-direction: column;
    color: white;
}

.formSelect {
    color: #aba499;
}

.formSelect div {
    background-color: #202324;
}

.formSelect label {
    color: white;
}

.formSelect .MuiSvgIcon-root {
    fill: white !important
}

.formSelect .MuiOutlinedInput-notchedOutline {
    border-color: #e4dbe940
}

.mobileAvatar {
    visibility: hidden;
}

.mobileUserMenu .MuiPaper-root{
    background-color: #202324;
}

.mobileUserMenu li {
    color: white;
}

@media only screen and (max-width: 650px) {
    #title-link {
        margin-left: 3vw;
    } 

    .articleCard {
        max-width: 90vw;
        width: 90vw;
    }

    .focusedArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        max-width: 90vw;
    }

    .focusedArticle img {
        width: 100%;
    }

    .imageSkeleton {
        width: 100%;
        min-width: 100%;
        height: 68vw;
    }

    .commentList {
        width: 90vw;
    }

    .commentPoster {
        width: 90vw;
    }

    .queryBar {
        width: 90vw;
    }

    .desktopUserMenu {
        visibility: hidden;
    }

    .mobileAvatar {
        visibility: visible;
    }
}