#title {
    text-align: center;
    font-size: 3rem;
    color: black;
}

.articlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleCard {
    max-width: 40vw;
}

.articleImg {
    width: 100%;
}

.voteCommentBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.focusedArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
}

.focusedArticle h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3rem;
}

.focusedArticle img {
    width: 70%;
    min-width: 360px;
}

.focusedArticle span {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1rem;
}

.focusedArticle p {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.commentList {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60vw;
}

.commentCard {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.commentCard span {
    display: flex;
    justify-content: space-between;
}

.commentCard span button {
    margin-left: 1rem;
}

.commentCard p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.commentPoster {
    display: flex;
    margin-top: 2rem;
    width: 50vw;
}

.commentPoster div {
    margin-left: 0.5rem;
}

.commentPoster div p {
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.voteBox {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-align: center;
    width: 2rem;
    font-size: 1rem;
}

.deselected {
    margin: 1px;
    font-size: 1rem;
}

.upvoted {
    background-color: rgba(79, 255, 79, 0.5);
    border-width: 3px;
    font-size: 1rem;
}

.downvoted {
    background-color: rgba(250, 104, 104, 0.5);
    border-width: 3px;
    font-size: 1rem;
}

.alert {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.queryBar {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .articleCard {
        max-width: 90vw;
    }

    .focusedArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
    }

    .focusedArticle img {
        width: 100%;
    }

    .commentList {
        width: 90vw;
    }

    .commentPoster {
        width: 90vw;
    }

    .queryBar {
        width: 90vw;
    }
}